*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);

    font-weight: normal;
}

@font-face {
    font-family: A4SPEED;
    src: url(../fonts/a4_speed/A4SPEED-Bold.ttf);

    font-weight: normal;
}

body{
    font-family: Poppins;
}

header{
    box-shadow: 0px 0px 2px 2px #00000050;
    margin: 0px 0px 40px 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 40px;
}

#logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#logo-container h1{
    font-family: A4SPEED;
    color: #222020;
}

#logo-container a{
    text-decoration: none;
}

#logo-container img{
    width: 24px;
    height: 24px;
    filter: opacity(90%);
}
nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    position: relative; 
    padding: 16px;
    list-style: none;
}

nav > ul > li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #DF2945;
}

nav ul li:hover::after{
    width: 100%;
}

nav ul li a{
    font-size: 14px;
    color: #000000c7;
    text-decoration: none;
}

nav ul li ul.dropdown {
    position: absolute;
    top: 85%;
    left: 0;
    width: 190px;
    background-color: #fff;
    padding: 0px;
    z-index: 1;

    display: flex;
    flex-direction: column;

    opacity: 0;
    visibility: hidden;
    transform: translateY(0px);
    pointer-events: none;

    transition: opacity 0.4s ease, transform 0.4s ease;
    row-gap: 8px;
}

nav ul li:hover ul.dropdown {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(10px);
    

}

nav ul li ul.dropdown li a{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 10px;
    width: 90%;
    gap: 9px;
}

nav ul li ul.dropdown li:hover {
    background-color: #e4e4e4;
    cursor: pointer;
}

.vehicle-icons{
    width: 20px;
    height: 20px;
}

#logo{
    display: flex;
    gap: 8px;
}

#logo img{
    width: 32px;
    height: 32px;
}

.login-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-div a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.login-div a:hover{
    text-decoration: dashed;
}

.login-div img{
    width: 20px;
    height: 20px;
}

.search-input-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.search-input-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00000042;
    border-radius: 8px;
    padding: 10px;
}

.search-input-container img{
    width: 20px;
    opacity: 0.8;
}

.search-icon-container{
    display: flex;
    padding: 10px;
}

.search-input-container #search{
    padding: 10px;
    width: 320px;
    border: none;
    line-height: 21px;
}

.search-input-container #search::placeholder{
    font-weight: bolder;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.466);
}

.search-input-container #search:focus{
    outline: none;
}

.search-input-container button{
    width: 260px;
    border: none;
    background-color: #DF2945;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 7px;
    transition: 0.5s ease;
}

.search-input-container button:hover{
    background-color: #c2263d;
    transform: scale(0.99);
    cursor: pointer;
}

button, input{
    font-family: inherit;
}

.vehicles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 80px;
}

.vehicles-container h2{
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 20px;
    color: #1a1a1aef;
}

.vehicles-container > .sponsored > .card-car > ul ,
.vehicles-container > .categories > .card-car > ul,
.vehicles-container > .popular-brands > .card-car > ul{
    list-style: none;
}

.card-car{
    position: relative;
    transition: 0.3s ease;
}

.card-car img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-car:hover{
    filter: brightness(70%);
    cursor: pointer;
}

.card-car:hover::after{
    content: "";
    position: absolute;
    background-color: #DF2945;
    width: 100%;
    height: 4px;
    top: 95%;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #161515;
    color: #e4e4e4;
    padding: 160px;
}

.social-media ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.shortcuts ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.shortcuts ul li a{
    text-decoration: none;
    color: #e4e4e4;
}

.shortcuts ul li, .schedule p, .contact p, .social-media ul{
    font-size: 14px;
    margin-top: 10px;
}

footer .social-media img{
    width: 30px;
    filter: invert();
}